version: 2.1
jobs:
  linux-build:
    working_directory: ~/github.com/confluentinc/confluent-kafka-go
    docker: # run the steps with Docker
      # CircleCI Go images available at: https://hub.docker.com/r/circleci/golang/
      - image: circleci/golang:1.16
        auth:
          username: $DOCKER_USERNAME
          password: $DOCKER_PASSWORD
    environment:
      - EXPECT_LINK_INFO="dynamic"
      - BUILD_TYPE='-tags dynamic'
      - PKG_CONFIG_PATH="$HOME/github.com/confluentinc/confluent-kafka-go/tmp-build/lib/pkgconfig"
      - LD_LIBRARY_PATH="$HOME/github.com/confluentinc/confluent-kafka-go/tmp-build/lib"
      - DYLD_LIBRARY_PATH="$HOME/github.com/confluentinc/confluent-kafka-go/tmp-build/lib"
      - LIBRDKAFKA_VERSION=master

    steps:
      - checkout
      - run: go version
      - run: sudo apt-get update -q
      - run: sudo apt-get install librdkafka-dev
      - run: go get -u golang.org/x/lint/golint && touch .do_lint
      - run: go build ./...
      - run: for dir in kafka examples ; do (cd $dir && go get ${BUILD_TYPE} ./...) ; done
      - run: for dir in kafka examples ; do (cd $dir && go install ${BUILD_TYPE} ./...) ; done
      - run: if [[ -f .do_lint ]]; then golint -set_exit_status ./examples/... ./kafka/... ./kafkatest/... ./soaktest/... ; fi
      - run: for dir in kafka ; do (cd $dir && go test -timeout 180s -v ${BUILD_TYPE} ./...) ; done
      - run: go-kafkacat --help
      - run: library-version
      - run: (library-version | grep "$EXPECT_LINK_INFO") || (echo "Incorrect linkage, expected $EXPECT_LINK_INFO" ; false)

  macos-build:
    macos:
      xcode: "9.2"
    steps:
      - run: echo "hello world macos"

workflows:
  doit:
    jobs:
      - linux-build
      - macos-build
